package ${package}.pojo;
import com.baomidou.mybatisplus.annotation.IdType;
import com.csicit.ace.common.pojo.AbstractBaseRecordDomain;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableId;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;
import javax.persistence.Id;
import java.time.LocalDate;
import java.time.LocalDateTime;

/**
 * ${comments} 实例对象类
 *
 * @author ${author}
 * @date ${datetime}
 * @version V1.0
 */
@Data
@TableName("${tableName}")
@JsonInclude(JsonInclude.Include.NON_NULL)
public class ${className} {

#foreach ($column in $columns)
/**
 * #if(!$null.isNull($column.comments))$column.comments #end
 */
    #if($column.attrType =='LocalDateTime')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    #if($column.columnName.substring(0,2)=='IS')
    @TableField("${column.columnName}")
    #end
    #if($column.dbExistFlg=='1')
    @TableField(exist = false)
    #end
    #if($column.columnName=='ID')
    @Id
    @TableId(type = IdType.UUID)
    #end
private $column.attrType $column.attrname;
#end

}
