
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../plus/import.js"></script>
    <script type="text/javascript">
        $(function(){
            //编辑表格
            $('#reportTable').bootstrapTable({
                method: 'get',
                editable:true,//开启编辑模式
                clickToSelect: true,
                columns: [
                    [
                        {field:"appId",title:"应用标识",align:"center"},
                        {field:"appName",title:"应用名称",align:"center"},
                        {field:"count",title:"授权数量",align:"center"},
                        {field:"endDate",edit:{
                                type:'date',//日期
                                click:function(){

                                }
                            },title:"授权截止日期",align:"center"},
                        {title:"删除",align:"center",formatter:function(value,row,rowIndex){
                                var strHtml = '<a href="javascript:void(0);" onclick="removeRow('+rowIndex+')">删除</a>';
                                return strHtml;
                            },edit:false}
                    ]
                ]
            });

            $('#addRowbtn').click(function(){
                var data = {
                };
                $('#reportTable').bootstrapTable('append',data);
            });
            $('#commit').click(function(){
                commitData();
            });

        });
        function removeRow(rowIndex){
            $('#reportTable').bootstrapTable('removeRow',rowIndex);
        }

        function commitData(){
            var unitName = $('#unitName').val();
            var cpuNum = $('#cpuNum').val();
            var diskNum = $('#diskNum').val();
            var mbNum = $('#mbNum').val();
            var mac = $('#mac').val();
            var localIp = $('#localIp').val();
            var appDatas = $('#reportTable').bootstrapTable('getData');
            var json = {"unitName":unitName,"cpuNum":cpuNum,"diskNum":diskNum,
                "mbNum":mbNum,"mac":mac,"apps":appDatas,"localIp":localIp};
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/save",
                data: JSON.stringify(json),// 你的formid
                error: function (request) {
                    self.location =  '/downloadFile/' + unitName;
                },
                success: function (data) {
                    self.location =  '/downloadFile/' + unitName;
                }
            });
        }
    </script>
</head>

<body class="container">
<div class="with:80%" style="margin-top: 20px">
   <form class="form-horizontal" method="post">
       <div class="form-group col-sm-10">
           <label for="unitName" class="col-sm-2 control-label">单位名称</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="unitName"  id="unitName" placeholder="单位名称"/>
           </div>
       </div>
       <div class="form-group col-sm-10">
           <label for="mac" class="col-sm-2 control-label">MAC地址</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="mac"  id="mac" placeholder="MAC地址"/>
           </div>
       </div>
       <div class="form-group col-sm-10">
           <label for="localIp" class="col-sm-2 control-label">本机ip</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="localIp"  id="localIp" placeholder="本机ip"/>
           </div>
       </div>
        <div class="form-group col-sm-10">
           <label for="cpuNum" class="col-sm-2 control-label">CPU编号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="cpuNum"  id="cpuNum" placeholder="CPU编号" />
            </div>
            <label for="diskNum" class="col-sm-2 control-label">硬盘序列号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="diskNum"  id="diskNum" placeholder="硬盘序列号"/>
            </div>
        </div>
       <div class="form-group col-sm-10">
           <label for="mbNum" class="col-sm-2 control-label">主板编号</label>
           <div class="col-sm-4">
               <input type="text" class="form-control" name="mbNum"  id="mbNum" placeholder="主板编号"  />
           </div>
       </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="button" value="添加行" class="btn btn-info" id="addRowbtn"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <table id="reportTable"></table>
            </div>
        </div>
       <div class="form-group">
           <div class="col-sm-10">
               <input type="button" value="提交" class="btn btn-info" id="commit"/>
           </div>
       </div>
    </form>
</div>
</body>
</html>
